<div style="background-image: url(); align-items: center; "></div>


<section class="" style="background-image: url(/img/banner-bg.png); background-size: contain; background-repeat: no-repeat;background-position: right top;">
    <div class="container"  style="max-height: 100px; position: relative;">
        <div class="row align-items-left justify-content-start mt-4">
            <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12">
                <div class="banner-content" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="">
                    <div class="header-text">
                        <h1>Tingkatkan Skills dengan <em
                                style="font-style: normal; color: #abdbe3; -webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #3b3c54; margin-top:100px;">Konten
                                Berkualitas</em></h1>
                    </div>
                    <h1 class="cd-headline clip is-full-width" style="font-size: 30px;">Learn how to become.
                        <span class="cd-words-wrapper">
                            <b class="is-visible" style="font-size: 50%;">Software Engineer</b>
                            <b style="font-size:50%;">Software Developer</b>
                            <b style="font-size: 50%;">Data Scientist</b>
                            <b style="font-size: 50%;">Creative Designer</b>
                            <b style="font-size: 50%;">Cybersecurity Expert</b>
                            <b style="font-size: 50%;">Digital Marketer</b>
                        </span>
                    </h1>
                    <p>Unleash Your Digital Potential with Us</p>
                    <div class="btn-container">
                        <a href="#" class="btn btn-main rounded">Find Courses</a>
                        <a href="#" class="btn btn-white rounded ms-2">Download Now</a>
                    </div>
                </div>
            </div >

        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>